<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python - Vagas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    {% include "partials/navbar.html" %}
    <div class="container">
      <h1 class="text-center mt-2 mb-2">Python - Vagas</h1>
      <img class="img-fluid" src="{{url_for('static', filename='images/carreira.jpg')}}" alt="Trabalhando com Python" />
      <h2 class="text-center mt-2">Sobre o site</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam earum cum eum laudantium saepe, libero natus perferendis ut voluptatem officia totam ad repellat minima rerum omnis optio. Esse, quas.</p>
      <h2 class="text-center">Vagas Abertas</h2>
      <p>
        {% for registro in vagas %}
          {% include "partials/vagas_item.html" %}
        {% endfor %}
      </p>
      <div class="text-center">
        <a href="mailto:fmoraes05@outlook.com" class="btn btn-primary btn-lg">Entrar em contato</a>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </body>
</html>